{{ define "notes/_editor.tmpl" }}

<input id="editor-title-input" name="title" type="text" placeholder="Title" value="{{ .note.Title }}"/>
<textarea id="editor-content-input" name="content">{{ .note.Content }}</textarea>
<button id="editor-submit-button">
  Save
</button>

<script type="text/javascript">
  var myTextArea = document.getElementById("editor-content-input");
  var myCodeMirror = CodeMirror.fromTextArea(myTextArea, {
      mode: "markdown",
      theme: "ayu-mirage",
      lineWrapping: true
    });
</script>

{{ end }}
