{{ define "notes/_editor.tmpl" }}

<input id="editor-title-input" name="title" type="text" placeholder="Title" value="{{ .note.Title }}"/>
<textarea id="editor-content-input" name="content">{{ .note.Content }}</textarea>
<button id="editor-submit-button">
  Save
</button>

<script type="text/javascript">
var editorForm = document.getElementById("editor-form");
    var textArea = document.getElementById("editor-content-input");
    var codeMirror = CodeMirror.fromTextArea(textArea, {
        mode: "markdown",
        theme: "ayu-mirage",
        lineWrapping: true,
        lineNumbers: true
    });

    codeMirror.on("changes", cm => {
        textArea.value = cm.getValue();
    });
</script>

{{ end }}
