{{ define "notes/edit.tmpl" }}
{{ template "shared/header.tmpl" .}}
{{ template "shared/navbar.tmpl" .}}

<div id="edit-note">
  <form
    id="editor-form"
    hx-put="/notes/{{ .note.ID }}"
    hx-swap="none"
  >
    {{ template "notes/_editor.tmpl" .}}
  </form>
</div>

{{ template "shared/footer.tmpl" .}}

{{ end }}
