{{ define "notes/edit.tmpl" }}
{{ template "shared/header.tmpl" .}}
{{ template "shared/navbar.tmpl" .}}

<div id="edit-note">
  <form id="editor-form" action="/notes/{{ .note.ID }}" method="POST">
    {{ template "notes/_editor.tmpl" .}}
  </form>
</div>

{{ template "shared/footer.tmpl" .}}

{{ end }}
