{{ define "notes/new.tmpl" }}
{{ template "shared/header.tmpl" .}}
{{ template "shared/navbar.tmpl" .}}

<form id="editor-form" action="/notes/new" method="POST">
  <input id="editor-title-input" name="title" type="text" placeholder="Title" />
  <input
    id="editor-tags-input"
    name="tags" type="text"
    placeholder="Tags, separated by spaces i.e. 'cat pet cute'"
  />
  <textarea
    id="editor-content-input"
    name="content"
    placeholder="Things that need to be noted"
  ></textarea>
  <button id="editor-submit-button">
    Save
  </button>
</form>

{{ template "shared/footer.tmpl" .}}

{{ end }}