{{ define "notes/new.tmpl" }}
{{ template "shared/header.tmpl" .}}
{{ template "shared/navbar.tmpl" .}}

<form id="editor-form" action="/notes/new" method="POST">
  <input id="editor-title-input" name="title" type="text" placeholder="Title" />
  <textarea
    id="editor-content-input"
    name="content"
  ></textarea>
  <button id="editor-submit-button">
    Save
  </button>
</form>

<script>
  var myCodeMirror = CodeMirror.fromTextArea(document.getElementById("editor-content-input"), {
      mode: "markdown",
      theme: "ayu-mirage"
    });
</script>

{{ template "shared/footer.tmpl" .}}

{{ end }}
