{{ define "notes/view.tmpl" }}
{{ template "shared/header.tmpl" .}}
{{ template "shared/navbar.tmpl" .}}

<div id="view-note">
  <strong>Title: </strong>{{ .note.Title }}<br/>
  <div id="view-note-content">
    {{ .contentHTML }}
  </div>
</div>

{{ template "shared/footer.tmpl" .}}

{{ end }}
