{{ define "home/index.tmpl" }}
{{ template "shared/header.tmpl" .}}
{{ template "shared/navbar.tmpl" .}}

<form
  id="index-search-form"
  hx-post="/notes/search"
  hx-target="#notes-list"
  hx-swap="outerHTML"
>
  <input id="index-search-input" name="query" type="text" placeholder="Search content" />
</form>

{{ template "notes/list.tmpl" .}}

{{ template "shared/footer.tmpl" .}}

{{ end }}
