{{ define "shared/footer.tmpl" }}
    <div id="success-snackbar" class="snackbar">Save successful!</div>
    <div id="failure-snackbar" class="snackbar">Oops! Something went wrong!</div>
  </body>
</html>
{{ end }}
