{{ define "shared/navbar.tmpl" }}
<nav>
    <ul>
        <li>
          <a href="/">
            <strong style="font-size: 28px;">
              Kitab
            </strong>
          </a>
        </li>
    </ul>
    <ul>
        <li><a href="/">Notes</a></li>
        <li><a href="/notes/new">New</a></li>
    </ul>
</nav>

{{ end }}